@using Microsoft.AspNetCore.Identity
@using VgcCollege.Web.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(currentUser!);
    var role = roles.FirstOrDefault() ?? "User";
    <li class="nav-item">
        <span class="navbar-text text-light me-3">
            <i class="bi bi-person-fill me-1"></i>
            @currentUser!.DisplayName
            <span class="badge bg-warning text-dark ms-1">@role</span>
        </span>
    </li>
    <li class="nav-item">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index","Home")" method="post">
            <button type="submit" class="btn btn-outline-light btn-sm">
                <i class="bi bi-box-arrow-right me-1"></i>Sign out
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
    </li>
}
</ul>
